<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                            <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^admin/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="admin/index.php?url={R:1}" />
                </rule>



                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^(.*)/(.*)\.html$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>

                    <action type="Rewrite" url="index.php?url={R:1}&amp;item={R:2}" />
                </rule>

                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^(?!(?:public|js|hostBvrWeb.*|WEB_DEMO)/)(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>