
#calender_grid th, .calendarHead td {
	background: linear-gradient(to bottom, #F5F5F5 0px, #E5E5E5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
	color: #000000;
	font-weight: bolder;
	padding: 7px 0;
	text-align: center;
}


#calender_grid {
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
	border: medium none;
	border-collapse: collapse;

}

#calender_grid td {
	border: 1px solid #CCCCCC;
	padding: 0;
	border-collapse: collapse;
}
#calender_grid .day {
	height: 150px;
	overflow: hidden;
	width: 100%;
}
#calender_grid .day li {
	float: left;
	width: 100%;
}
#calender_grid .day li > a {
	border-radius: 4px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin-bottom: 1px;
	overflow: hidden;
	padding: 2px;
	text-decoration: none;
}
#calender_grid .day li > a.status2 {
	background: none repeat scroll 0 0 #008000;
	border: 1px solid #D8E5CC;
	color: #D8E5CC;
}
#calender_grid .day li > a.status1 {
	background: none repeat scroll 0 0 #FFA500;
	border: 1px solid #FFA500;
	color: #FFFFFF;
}
#calender_grid .day li > a.status1:hover, #data_grid .day li > a.status2:hover {
	color: #FFFFFF;
}
#calender_grid .day li > a.status3:hover {
	color: #000000;
}
#calender_grid .day li > a.status4 {
	background: none repeat scroll 0 0 #B94A48;
	border: 1px solid #9C403E;
	color: #FFF0F0;
}
#calender_grid .day li > a.status3 {
	background: none repeat scroll 0 0 #EDEDED;
	border: 1px solid #C0C0C0;
	color: #C0C0C0;
}
#calender_grid .day:hover, .hover_bg {
	background: none repeat scroll 0 0 #FFF6D5;
}

#calender_grid .date {
	display: block;
	font-size: 12px;
	height: 19px;
	line-height: 20px;
	margin-bottom: 1px;
	padding: 0 4px;
}

#calender_grid tr.sudy td {
	background: none repeat scroll 0 0 transparent;
}

#calender_grid .day ul {
	display: block;
	overflow: hidden;
	padding: 0 2px;
}
#calender_grid .today .date {
	background: none repeat scroll 0 0 #F0C75E;
}
.requestBox {
	position: absolute;
}