

#grid-container {
	position:relative;
}

.datagrid-overlay {
	background: url("../img/ajax-loader.gif") no-repeat scroll 50% 150px #000;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.4;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 150;
}

#data_grid {
	border: 1px solid #e7e7e7;
	border: 0 solid #e7e7e7;
	border-spacing: 0;
	font-size: 100%;
	table-layout: fixed;
	width: 100%;
}
.dataGridProvider {
	position: relative;
}
.dataGridProvider th a {
color: #0d638f;
}

.dataGridProvider img {
	max-height: 60px;
	max-width: 100%;
	vertical-align: middle;
}

.widefat td {
/*	overflow: hidden;*/
	padding: 5px 7px;
	vertical-align: baseline;
}
.filter-settings span {
	display: none;
}
.filter-settings {
	color: #525252;
	display: block;
	font-size: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
}
th .fa-sort-asc, th .fa-sort-desc {
	font-size: 16px;

	text-align: center;
	vertical-align: middle;
	width: 1.5em;
}
th .fa-sort-asc {
	margin-top: 5px;
}
 th .fa-sort-desc {
margin-top: -5px;
 }
#data_grid th, .calendarHead td {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #fff;
	border-color: -moz-use-text-color;
	border-image: none;
	border-style: none none solid;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
	font-weight: bolder;
	padding: 7px 0;
	font-weight: normal;
}
#data_grid thead th {
	border-width: 0 0 2px;
}
#data_grid tfoot th {
	border-style: solid none none;
	border-width: 2px 0 0;
}

#data_grid td {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e7e7e7;
	border-image: none;
	border-style: solid;
	border-width: 1px 0 0;
	font-size: 90%;
}

th.thumb-column, td.thumb-column {
	width: 75px;
}
th.code-column, td.code-column {
	width: 100px;
}

.datagrid_filter {
background:none repeat scroll 0 0 #ebf3f8;
	color: #525252;
	font-size: 11px;
	line-height: 35px;
	margin-bottom: 15px;
	min-height: 35px;
	padding: 0 5px;
}
#data_grid th {
	padding-left: 5px;
	text-align: left;
}
#data_grid th.money-column {
	padding-left: 0;
	padding-right: 5px;
	text-align: right;
}
.datagrid_filter form {
	display: inline-block;
}
.datagrid_filter select, .datagrid_filter .textbox {
	font-size: 11px;
	height: auto;
	line-height: normal;
	width: auto;
}
.datagrid_filter_definition {
	background: none repeat scroll 0 0 #f7f7f7;
	border: 1px solid #dedede;
	padding: 10px;
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 999;
}
.datagrid_filter input.tlac, button.tlac {
	background: -moz-linear-gradient(center top , #ffffff 0%, #e7eaef 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #a2a9b2;
	border-radius: 4px;
	color: #383f47 !important;
	cursor: pointer;
	display: inline-block !important;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	min-height: 16px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	width: auto;
}
.widefat thead th input, .widefat tfoot th input, td.check-column input {
	margin: 0 0 0 8px;
	padding: 0;
	vertical-align: text-top;
}
.widefat .check-column, .widefat th.icon-column, .widefat td.icon-column {
	padding: 0;
	width: 2.2em;
}
input[type="checkbox"] {
	width: auto;
}
.widefat a, .widefat a img {
	text-decoration: none;
}
thead tr th a, tfoot tr th a {
	color: #525252;
}
.datagrid_filter_definition label {
	float: left;
	font-weight: normal;
	margin: 0 10px 0 0;
	padding: 4px 0;
	text-align: right;
	width: 150px;
}
.datagrid_filter_definition input[type="text"] {
	font-size: 11px;
	padding: 2px 4px;
	width: 150px;
}
.widefat .row_style_radek {
	background: none repeat scroll 0 0 #fcf5dd;
	background: none repeat scroll 0 0 #f2f2f2;
}
.money-column, .money-column input, .money-column {
	text-align: right;
}

td .money-column, td .money-column input, td .money-column {
	white-space: nowrap;
}
.checkbox-column {
	text-align: center;
	width: 35px;
}
.stredisko-column, .obdobi-column {
	width: 60px;
}
.doklad-column {
	width: 110px;
}
