
#mainMenu {
	border: 0 none;
	margin-left: 219px;
	margin-top: 1px;
}
#mainMenu .title{
	display:none;
}

#mainMenu ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#mainMenu > ul > li {
	border: 0 none;
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
	width: auto;
}
#mainMenu a span {
	padding-left:4px;
}
#mainMenu a {
	background: -moz-linear-gradient(center top , #F9F9F9, #ECECEC) repeat scroll 0 0 rgba(0, 0, 0, 0);

	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#F9F9F9), color-stop(64%,#ECECEC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F9F9F9 0%,#ECECEC 64%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F9F9F9 0%,#ECECEC 64%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F9F9F9 0%,#ECECEC 64%); /* IE10+ */
	background: linear-gradient(to bottom, #F9F9F9 0%,#ECECEC 64%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#ECECEC',GradientType=0 ); /* IE6-8 */

	border-left: 1px solid #CCCCCC;
	color: #444444;
	display: block;
	float: none;
	font-weight: bold;
	height: 31px;
	line-height: 30px;
	margin: 0;
	padding: 0 10px;
	text-align: left;
	text-decoration: none;
	width: auto;
}
#mainMenu ul ul li a {
	padding-left: 15px;
}
#mainMenu ul > li > ul {
	background: none repeat scroll 0 0 #D4D4D4;
	position:absolute;
	z-index:1;
	display:none;
	min-width:150px;
}
#mainMenu ul > li > ul li {
	padding:0;

}

#mainMenu a:hover, #sideMenu a.navSelected2, #mainMenu a.navSelected {
	background:none repeat scroll 0 0 #394049;
	color:#fff;
}