
#sideMenu {
	border: 1px solid #CCCCCC;
	border-bottom: 0 none;
}
#sideMenu .title{
	display:none;
}

#sideMenu ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#sideMenu li {
	border: 0 none;
	float: none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: auto;
}
#sideMenu a span {
	padding-left:4px;
}
#sideMenu a {

	color: #444444;
	display: block;
	float: none;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 4px 0 2px;
	text-align: left;
	text-decoration: none;
	width: auto;
}

#sideMenu > ul > li > a {

	background:none repeat scroll 0 0 #E0E0E0;
	border-bottom: 1px solid #CCCCCC;
	color: #444444;
	display: block;
	float: none;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 4px 0 2px;
	text-align: left;
	text-decoration: none;
	width: auto;
}

#sideMenu ul ul li a {
	padding-left: 15px;
}
#sideMenu ul > li > ul {
	background: none repeat scroll 0 0 #FAFAFA;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
}
#sideMenu ul > li > ul a {
	border-radius: 8px;
	margin: 3px 5px;
}


#sideMenu a:hover, #sideMenu a.navSelected2, #sideMenu a.navSelected {
	background: none repeat scroll 0 0 #48A5D3;
	color: #FFFFFF;
}