@media (max-width:980px){

#mainMenu {
	display:none;
	margin-left: 0 !important;
}
.page-content {
	margin-left:0 !important;
}

.page-sidebar {
	display:none;

}

.page-sidebar-expanded .page-sidebar {
	top:0;
}
	.page-sidebar .sidebar-toggler {
		display:none;
	}

header .sidebar-toggler {
    display: block !important;
}

.page-sidebar-expanded .page-sidebar {
	display: block;
	width: 100%;
	position:relative;
	height:auto;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #353535;
}


	.page-sidebar nav {
		background: none repeat scroll 0 0 #e7e7e7;
		margin: 0 10px;
	}

	.page-sidebar-hover-on .page-sidebar {
		display: block;
		width: 100%;
		position:relative;
		height:auto;
	}



#header_user_panel {
    display: none;
}

.page-header {
    margin-top: 0 !important;
}

}