
.ui-menu {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete {
    cursor: default;
    position: absolute;
}
.ui-corner-all {
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-color: #0F76CE;
    color: #FFFFFF;
    font-weight: normal;
}
.ui-state-hover a, .ui-state-hover a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.ui-widget-content {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	color: #312E25;
}
.ui-widget {
    font-family: Arial,sans-serif;
}
.ui-autocomplete {
    z-index: 10 !important;
}
ul, ol {
    margin-left: 25px;
    margin-top: 0;
    padding-left: 0;
}
.ui-autocomplete a {
    display: block;
    padding: 3px;
    text-decoration: none;
    white-space: nowrap;
}

.ui-helper-hidden-accessible {
	display:none;
}