/*
.modal-footer a, .modal-footer input, .modal-footer button {
	background: none repeat scroll 0 0 #000033;
	border: medium none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	margin: 0;
	overflow: visible;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
}

.modal-footer a:hover, .modal-footer input:hover, .modal-footer button:hover {
	background: none repeat-x scroll 0 0 #00aff0;
	border:0 none;
}
*/

.modal-body {
	overflow-y: scroll;
	padding: 15px;
}

.modal-header {
	border-bottom: 1px solid #efefef;
	padding: 9px 15px;
}
.modal-footer {
	background-color: #f5f5f5;
	border-radius: 0 0 6px 6px;
	border-top: 1px solid #ddd;
	box-shadow: 0 1px 0 #fff inset;
	margin-bottom: 0;
	padding: 14px 15px 15px;
	text-align: right;
}

/*
.btn {
	background-color: #e5e5e5;
	background-image: none;
	border: 0 none;
	border-radius: 0 !important;
	box-shadow: none !important;
	color: #333333;
	cursor: pointer;
	filter: none;
	font-size: 14px;
	margin-left: 5px;
	outline: medium none;
	padding: 7px 14px;
	text-shadow: none;
}*/